<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.css.map"> 
</head>


<body>
    
    <footer>
        <div class="container">
            <footer class="page-footer font-small stylish-color-dark pt-4">
                    <div class="container text-center text-md-left">
                    <div class="row">
                        <div class="col-md-4 mx-auto" style="text-align: center">
                        <img src="../images/logo.png" style="padding-bottom: 10px"></h5>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                
                        </div>
                        <hr class="clearfix w-100 d-md-none">
                        <div class="col-md-2 mx-auto" style="text-decoration: none;">
                            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Menu</h5>
                    
                            <ul class="list-unstyled">
                                <li>
                                <a href="#!">Home</a>
                                </li>
                                <li>
                                <a href="#!">Introduce</a>
                                </li>
                                <li>
                                <a href="#!">Services</a>
                                </li>
                                <li>
                                <a href="#!">Concept</a>
                                </li>
                                <li>
                                <a href="#!">Exhibition</a>
                                </li>
                                <li>
                                <a href="#!">Booking</a>
                                </li>
                            </ul>
                    
                        </div>
                        <hr class="clearfix w-100 d-md-none">
                        <div class="col-md-3 mx-auto">
                        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Map</h5>
                    
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.482445565972!2d105.5251055154356!3d21.013373693678105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b32ca5086d%3A0xa3c62e29d8ab37e4!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBGUFQ!5e0!3m2!1svi!2s!4v1569348538097!5m2!1svi!2s" width="200" height="200" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                    
                        </div>
                            <hr class="clearfix w-100 d-md-none">
                            <div class="col-md-3 mx-auto">
                            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contact</h5>
                                <p>Giờ làm việc: 8h - 20h 
                                        Từ Thứ 2 - Thứ 7</p>
                                <hr>
                                <i class="fa fa-map-marker"></i>Phòng C502 Hòa Lạc Campus FPT UNIVERSITY <br>
                                <i class="fa fa-mobile"></i> 0968.899.986<br>
                                <i class="fa fa-envelope"></i> hieuxeko1999@gmail.com
                        </div>
                
                    </div>
                    </div>
                    <hr>
                    <ul class="list-unstyled list-inline text-center py-2">
                    <li class="list-inline-item">
                        <h5 class="mb-1">Đăng kí thành viên ngay nào!</h5>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!" class="btn btn-danger btn-rounded">Sign up!</a>
                    </li>
                    </ul>
                
                    <hr>  
                </footer>
             

            </div>   
            <div class="end">
                   <p>@MinhHieuFPT2019</p>
             </div>
    </footer> <!-- end footer -->
</body>
</html>