<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/stylesheets/header.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.css.map"> 
    <link rel="icon" href="../images/logo.png">
</head>
<style>
  /* .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  } */
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color:aquamarine;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: aquamarine}
  .dropdown:hover {background-color: aquamarine}

  </style>
 
<body class="w-100">
    
    


    <div class="header">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container d-flex d-flex-column align-items-center">
                    <div class="" id="logo">
                            <img src="../images/logo.png">
                    </div>
                    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button> -->
                    <div class="collapse navbar-collapse d-md-flex justify-content-center" id="navbarNav">
                        <ul class="navbar-nav" >
                            <li class="nav-item">
                            <a class="dropdown nav-link text-right" href="/home">Home</a>
                            </li>
                            <li class="nav-item">
                            <a class="dropdown nav-link text-right " href="#in">Introduce</a>
                            </li>
                            <li class="nav-item">
                            <a class="dropdown nav-link text-right" href="#se">Services</a>
                            </li>

                            <li class="dropdown">
                              <a class="dropbtn nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Shop
                              </a>
                              <div class="dropdown-content">
                                <a href="#">Áo Cưới</a>
                                <div class="dropdown-divider"></div>
                                <a href="#">Trang phục-Hóa trang</a>
                                <a href="#"></a>
                              </div>
                            </li>
                            <li class="dropdown">
                              <a class="dropbtn nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Concept
                              </a>
                              <div class="dropdown-content">
                                <a href="#">Kỉ yếu</a>
                                <div class="dropdown-divider"></div>
                                <a href="#">Bao Cấp</a>
                                <div class="dropdown-divider"></div>
                                <a href="#">Hàn Quốc</a>
                                <div class="dropdown-divider"></div>
                                <a href="#">Đám cưới</a>
                              </div>
                            </li>
                            <li class="nav-item">
                            <a class="dropdown nav-link text-right" href="#ex">Exhibition</a>
                            </li>
                            <li class="nav-item">
                                <a class="dropdown nav-link text-right" href="#bo">Booking</a>
                             </li>
                            <li class="nav-item">
                            <a class="dropdown nav-link text-right" href="#ct">Contact</a>
                            </li>
                        </ul>
                    </div>


                    <!-- <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>  -->

                    <!-- <div class="end" style="padding-left:20px ; width: auto;">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                <a href="#"><button id="btn_sign">Sign In</button></a> 
                                <a href="#"><button id="btn_sign">Sign Up</button></a>
                            </li>        
                            </ul>
                    </div> -->
                    <ul class="nav navbar-nav navbar-right">
                        <li><button class="btn" data-toggle="modal" data-target="#loginModal" type="submit" >Sign In</button></li>
                        <li><a href="#"><button class="btn btn-outline-success my-3 my-sm-0" type="submit">Sign Up</button></a></li>
                      </ul>

                </div>

            </nav>

        <!-- login_modal -->
        <%- include('login_modal');%>
        <!-- end header -->

    </div> <!-- end header  -->

    </body>
    <script>
      
      $('#btn').click(function(){
          var username = loginform.uid.value
          var password = loginform.pid.value
          $.ajax({
              url: '/login',
              type: 'post',
              data: {
                  username: username,
                  password: password
              }
          }).then(function(response){
              console.log(response);
              window.location.href = '/home'
          }).catch(function(err){
              console.log('loi');
              $('#err').show();
          })
      })
  
  </script>
</html>
