<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- <link href="@font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="../images/logo.png">
</head>
<body class="w-100">
    
    <!-- Header -->
    <%- include('header');%>
    <!-- end header -->
    <div class="main">
        <div class="bgimg" >
            
            
            <div class="content">
                <p>WELLCOME TO LUU MEDIA</p>
            </div>
    </div>



    <div class="introduce" id="in">
        <div class="container">
            <div class="title">
                <h1>CHÚNG TÔI LUÔN Ở ĐÂY</h1>
                <hr id="hr">
            </div>
            <div class="content">
                <p>Trong giây phút ngẫu hứng của mấy ae nhà #Luumedia. Toàn bộ clip được quay bằng iphone 10. 
                        Không kịch bản, không máy quay chuyên dụng, không diễn đi diễn lại nhiều lần. Mộc mạc và tinh tế giống như phong cách chụp của chúng tôi vậy :D
                        Thank chú Môn vì ý tưởng độc đáo này!</p>
            </div>

            <div class="infor row">
                <div class="service-detail col-md-4">
                    <img src="/images/srv_2.png"  alt"" >
                    <div class="title my-2">Kỷ Yếu</div>
                    <p class="des">Hãy lưu giữ lại trong mỗi chúng ta những kỉ niệm đẹp về tuổi học trò</p>
                </div>
                <div class="service-detail col-md-4">
                    <img src="/images/srv_1.png"  alt"" >
                    <div class="title my-2">Phóng Sự Cưới</div>
                    <p class="des">Đám cưới là khoảng thời gian đẹp nhất của các cặp đôi yêu nhau, hãy để chúng tôi lưu giữ những kỉ niệm đó</p>
                </div>
                <div class="service-detail col-md-4">
                    <img src="/images/srv_3.png"  alt"" >
                    <div class="title my-2">Sự Kiện</div>
                    <p class="des">Hãy lưu giữ lại trong mỗi chúng ta những kỉ niệm đẹp về tuổi học trò</p>
                </div>
            </div>
        </div>

    </div>  <!-- end introduce -->

    <!-- service -->
    <div class="services" id="se">
        <div class="container">
                <div class="content">
                    <h1>Services</h1>
                    <p> Choose your service</p>
                    <hr id="hr2">
            </div>
            <div class="dv-content">           
                    <div class="infor row">
                        <div class="service-detail col-md-4" >
                            <div class="a">
                                    <p id="h1">Gói Kỷ Yếu 1</p>
                                    <div class="title my-2">160.000</div>
                                    <p class="des">Ekip chụp ảnh chuyên nghiệp</p>
                                    <p class="des">Chụp không giưới hạn file ảnh</p>
                                    <p class="des">Quần áo cử nhân cho lớp</p>
                                    <p class="des">Hoa đội đầu cho các bạn nữ</p>
                                    <p class="des">Giấy màu-bóng bay-loa thùng</p>
                                    <p class="des">Mỗi bạn được 2 ảnh 13x18 ép lụa cao cấp</p>
                                    <div class="button_cont" align="center"><a class="example_a" href="#" target="_blank" rel="nofollow noopener">Xem chi tiết</a></div>
                            </div>
                        </div>
                        <div class="service-detail col-md-4" >
                                <div class="a">
                                        <p id="h1">Gói Kỷ Yếu 1</p>
                                        <div class="title my-2">160.000</div>
                                        <p class="des">Ekip chụp ảnh chuyên nghiệp</p>
                                        <p class="des">Chụp không giưới hạn file ảnh</p>
                                        <p class="des">Quần áo cử nhân cho lớp</p>
                                        <p class="des">Hoa đội đầu cho các bạn nữ</p>
                                        <p class="des">Giấy màu-bóng bay-loa thùng</p>
                                        <p class="des">Mỗi bạn được 2 ảnh 13x18 ép lụa cao cấp</p>
                                        <div class="button_cont" align="center"><a class="example_a" href="#" target="_blank" rel="nofollow noopener">Xem chi tiết</a></div>
                                </div>
                            </div>
                            <div class="service-detail col-md-4" >
                                    <div class="a">
                                            <p id="h1">Gói Kỷ Yếu 1</p>
                                            <div class="title my-2">160.000</div>
                                            <p class="des">Ekip chụp ảnh chuyên nghiệp</p>
                                            <p class="des">Chụp không giưới hạn file ảnh</p>
                                            <p class="des">Quần áo cử nhân cho lớp</p>
                                            <p class="des">Hoa đội đầu cho các bạn nữ</p>
                                            <p class="des">Giấy màu-bóng bay-loa thùng</p>
                                            <p class="des">Mỗi bạn được 2 ảnh 13x18 ép lụa cao cấp</p>
                                            <div class="button_cont" align="center"><a class="example_a" href="#" target="_blank" rel="nofollow noopener">Xem chi tiết</a></div>
                                    </div>
                                </div>

                    </div>
            </div>
        </div>
    </div>
    <!-- end service -->

    <!-- concept -->
    <div class="tips" id="tip">
        <div class="container">
           <h1>Concept</h1>
           <p>A lot of new concept</p>
           <hr id="hr2">
           <div class="sl"> 
        
                <div class="bd-example">
                <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/images/LUU_0556.jpg" class=" d-md-block  w-100" alt="...">
                        <div class="carousel-caption d-block">
                        <h5>VINTAGE</h5>     
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/images/Lưu Minh Khương-4.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-block">
                        <h5>BAO CẤP</h5>
                        
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/images/LUU_2414.jpg" class="d-block  w-100 " alt="...">
                        <div class="carousel-caption d-block">
                        <h5>DÂN TỘC</h5>
                        
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/images/harry.jpg" class="d-block w-100 " alt="...">
                        <div class="carousel-caption d-block">
                            <h5>HARY PORTER</h5>
                            
                        </div>
                        </div>
                    <div class="carousel-item">
                        <img src="/images/IMG_2075.jpg" class="d-block  w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>HÀN QUỐC</h5>
                            
                        </div>
                    </div>    
                </div>
                    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                    </a>
                </div>
                </div>       
        </div>          
        </div>      
    </div>
    <!-- end concept -->


    <!--exhibitions -->
    <div class="exhibitions" id="ex">
        <div class="container">
            
            <div class="header">
                    <h1>Exhibition</h1>
                    <p>The most beautiful pics of LUU MEDIA</p>
                    <hr id="hr2">
            </div>
        <div class="a"></div>
            <div class="portfolio-detail row">
                    <div class="col-md-3 my-2">
                      <img src="/images/vintage_test.jpg" alt="">
                      <div class="plushover">+</div>
                    </div>
                    <div class="col-md-3 my-2">
                      <img src="/images/hàn.jpg" alt="">
                      <div class="plushover">+</div>
                    </div>
                    <div class="col-md-3 my-2">
                      <img src="/images/photo-1451906278231-17b8ff0a8880.jpg" alt="">
                      <div class="plushover">+</div>
                    </div>
                    <div class="col-md-3 my-2">
                      <img src="/images/s2.jpg" alt="">
                      <div class="plushover">+</div>
                    </div>
                    <div class="col-md-3 my-2">
                      <img src="/images/harry.jpg" alt="">
                      <div class="plushover">+</div>
                    </div>
                    <div class="col-md-3 my-2">
                      <img src="/images/s2_600x400.jpg" alt="">
                      <div class="plushover">+</div>
                    </div>
                    <div class="col-md-3 my-2">
                      <img src="/images/baocap.jpg" alt="">
                      <div class="plushover">+</div>
                    </div>
                    <div class="col-md-3 my-2">
                      <img src="/images/1.png" alt="">
                      <div class="plushover">+</div>
                    </div>
              </div>         
        </div>
    </div> <!--end exhibitions  -->

    <!-- booking -->
    <div class="demo" id="bo">
        <div class="container">
            <div class="title">
                    <h1>Booking Studio</h1>
                    <hr id="hr2">
                </div>

            <div class="infor row ">
                <div class="contact col-sm-6">
                    <h2>Đặt lịch ngay nào !</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
                <div class="contect col-sm-6 ">
                    <div class="booking" >
                      <a href="/users/booking" style="text-decoration: none"><button type="button">Booking Now !</button></a>              
                    </div>
                </div>                
            </div>          
        </div>
    </div> <!-- end demo -->

    <!-- contact -->
    <div class="contact-us" id="ct">
        <div class="container ">
            <div class="title">
                    <img src="/images/logo.png">
                    <hr id="hr2">
                    <p>Chúng tôi luôn lấy chất lượng làm cốt lõi và sự hài lòng của khách hàng là tiêu chí hàng đầu cho dịch vụ của mình</p> 
            </div>
            <div class="icon ">
                   <a href="#"> <i class="fa fa-facebook" style="padding-right: 50px"></i></a> 
                   <a href="#"> <i class="fa fa-instagram" style="padding-right: 50px"></i></a>
                   <a href="#"><i class="fa fa-google"></i></a> 
            </div>

            <div class="message">
                 <div class="f1 d-flex align-items-center justify-content-around">
                        <input type="text" name="name" value="" placeholder="Enter your name">   
                        <input type="email" name="email" value="" placeholder="Enter your email"> 
                 </div>
                 <div class="f2 d-flex d-flex-column align-items-center">
                        <input type="text" name="message" value="" placeholder="Enter your message">
                           
                 </div>
                 <div class="f3">
                        <button type="submit" value="SendMail"> Send Mail </button>  
                 </div>
            </div>
        </div>
    </div> <!-- end contact -->

    <!-- footer -->
    <%- include('footer');%>
    <!-- end footer -->
</body>
</html>