<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/stylesheets/header.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.css.map"> 
    <link rel="icon" href="../images/logo.png">
</head>
 
<body class="w-100">

   
            <!-- login modal -->
            <div class="modal fade" role="dialog" id="loginModal">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                      <h3 class="modal-title">Đăng Nhập</h3>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>

                  <div class="modal-body">
                    <div class="form-group">
                      <input type="text" name="username" class="form-control" placeholder="Enter your ID">
                    </div>
                    <div class="form-group">
                      <input type="password" name="password" class="form-control" placeholder="Enter your password">
                    </div>
                    <div class="modal-footer" style="justify-content: center;"> 
                      <button type="submit" class="btn btn-success">Đăng nhập </button>
                    </div>                
                  </div>
                </div>
                </div>
                </div>

</body>
</html>