/* footer==================================================== */
footer .container{
    height: auto;
    padding-top: 30px

}

footer .end{
    height: 50px;
    background-color: #f5f5f5;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    margin-top: -15px
}


