.header{
    background-color: #ffffff;
    height: 120px;
    text-align: center;
    margin: auto;
}
.header img{
    padding-bottom: 10px;
    padding-top: 15px;
}



.header .menu li{
    list-style: none;
}

.header .sign i:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.header a{
    
    color: #000000;
    padding: 5px;
    text-align: center;
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif; 
    font-size: 18px;
    text-decoration: none;
    height: auto;
}

