

*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 100%;
    margin: 0;
}

.main{
    padding-top: 15px;
    padding-bottom: 60px;
    /* background-color: #f5f5f5; */
}

.main .bgimg{
    background-image: url('../images/slider_1.png');
    background-size: 100% 100%; 
    height: 800px;
    opacity: 0.9;
    object-fit: cover;
}




.main .bgimg .content{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   

}

.main .bgimg .content p{
   font-family:  'Lobster', cursive;
   color: #ffffff;
   font-size: 80px;
   opacity: 10;
   font-style: italic;
   font-weight: bold;

   
}

.main .bgimg .content p {
    position: relative;
    font-family:  'Lobster', cursive;
    text-transform: uppercase;
    font-size: 80px;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #ffffff, #fff,#ffffff);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 4s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  
  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }

#hr{
    width: 400px;
    margin-left: 350px;
}
#hr2{
    width: 400px;
    margin-left: 350px;
    
}


/* introduce ------------------------------------------------------------------------------*/

.introduce{
    
    height: auto;
    margin: 20px;
    padding-top: 40px;
 
}
.introduce .container{
    text-align: center; 
    
}

.introduce .container .title {
    display: block;
    position: relative;
    font-family:  "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
    text-align: center;
    font-size: 20px;
}
.introduce .container .title h1{
    display: block;
}


.introduce .container .title h1:hover {
    -ms-transform: scale(1.5); /* IE 9 */

    -webkit-transform: scale(1.5);
     transform: scale(1.5);
}


.introduce .container .content p{
    display: contents;
    position: relative;
    width: 600px;
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
} 

.introduce .container .content{
    padding-bottom: 50px;
}


.service-detail .title {
    font-weight: bold;
}

.introduce .service-detail img:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}



/* service----------------------------------------------------------------------------------*/
.services{
    padding-top: 30px; 
    padding-bottom: 30px;
    height: auto;
    width: auto;
    background-color: #f5f5f5
}



/* .services .container .bgimg{
    background-image: url("./image/bg_feedback.png");
    background-size: 100% 100%; 
    height: 400px;

} */

.services .container{
    height: auto;
    width: auto;
}


.services .content h1{
    font-family:  "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
    color: #000000;
    font-size: 50px;
    text-align: center;
   
 }

 .services .content p{
    text-align: center;
    font-family:  "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
 }

 .services .content h1:hover {
    -ms-transform: scale(1.5); /* IE 9 */

    -webkit-transform: scale(1.5);
     transform: scale(1.5);
}



.services .dv-content #img{
    background-size: 100% 100%; 
    height: 200px;
    padding-left: 300px;
}

.services .dv-content{
    padding-top: 30px;
}


#button{
    background-color: #2bcbba; 
    padding: 5px;
    border-radius: 10px;
}

#button a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

/* button a */
.example_a {
    color: #fff !important;
    text-transform: uppercase;
    background: #2bcbba;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
  
    }

.dv-content .service-detail .title{
    font-size: 30px;
    color: #2bcbba;
}

.dv-content .service-detail .a{
    border: 4px solid #ffffff;
    text-align: center;
    padding: 10px;
    

}

.dv-content .service-detail #h1{
    font-size: 20px;
    color: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



/* hover */
.example_a:hover {
    background: #434343;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    text-decoration: none;
    }

/* tips----------------------------------------------------------------------------------*/
.tips{

    padding: 15px;
    padding-top: 30px; 
    height: auto;
    background-color: white;
    width: 100%;

}

.tips .container{
    text-align: center
}
.tips .container h1{
    font-family:  "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
    font-size: 50px;
}

.tips .container h1:hover {
    -ms-transform: scale(1.5); /* IE 9 */

    -webkit-transform: scale(1.5);
     transform: scale(1.5);
}

.tips .sl{
    text-align: center;
    padding-top: 20px;
    
}
  
h5{
    
    color: #000000;
    font-weight: bold;
}
 
section{
    height: 800px;
}


/* exhibbitions----------------------------------------------------------- */
.exhibitions{

    margin-top: 20px;

    padding-bottom: 30px; 

    width: 100%;
    height: auto;
    width: auto;
    background-color: #f5f5f5;
    box-sizing: border-box;

    
}

.exhibitions .container{
    height: auto;
    
}

.exhibitions .container .header{
    background-color:#f5f5f5;
    text-align: center;
    padding: 32px;
}

.exhibitions .container .header h1{
    font-family:  "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
    font-size: 50px;
}

.exhibitions .container .header h1:hover {
    -ms-transform: scale(1.5); /* IE 9 */

    -webkit-transform: scale(1.5);
     transform: scale(1.5);
}



.portfolio-detail img{
    width: 270px;
    height: 270px;
    object-fit: cover;
}
.portfolio-detail img:hover{
    opacity: 0.3;
}
.portfolio-detail img:hover + .plushover {
    opacity: 1;
}
.plushover{
    color: white;
    font-size: 70px;
    transition: .5s ;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}


  /* .row {
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    padding: 0 4px;
  } */
  
  /* Create four equal columns that sits next to each other */
  /* .column {
    -ms-flex: 25%; 
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  } */
  
  /* .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  } */
  

  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
 
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }


    .zoom:hover {
        -ms-transform: scale(1.5); /* IE 9 */

        -webkit-transform: scale(1.08);
         transform: scale(1.08);
    }


    /* demo ---------------------------------------------------------------------------------------- */
.demo{
    margin: 30px;
    padding: 15px;
    padding-top: 30px; 
    height: auto;
    width: auto;
   
    text-align: center;
   
}

.demo .container{

    height: auto;
    width: auto;
}

.demo .container .title{
    padding-bottom: 20px; 
    font-family:  "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
    font-weight: bold;
}

.demo .container .title h1:hover{
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
}



.demo .container .contact{
    padding-top: 60px;
    margin-bottom: 100px;
    height: 300px;
    background-size: 100% 100%;
    font-family:  "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif; 
}

.demo .container .contact p{
    padding-top: 10px;
}

.demo .container .content{
    text-align: center;
}


.booking{
    margin: 20px;
    padding-top: 130px;
    border: 1px;
    border-radius: 20px;
    background-color: none;
    text-align: center;
    width: auto;
    height: auto;
    
}

.booking input[type = "text"],.booking input[type = "email"],.booking input[type ="date"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #18dcff;
    width: 200px;
    outline: none;
    color: #ffffff;
    border-radius: 24px;
    transition: 0.25s;
}

.booking h1{
    color:#000000;
    text-transform: uppercase;
    font-family:  "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
}

.booking input[type = "text"]:hover,.booking input[type = "email"]:hover{
    width: 280px;
    border-color: #4cd137;

}

.booking button[type = "button"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #18dcff;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    font-weight: bold;
    text-decoration-style: none;

}
.booking button[type = "button"]:hover{
    width: 280px;
    border-color: #4cd137;
    color: blanchedalmond;
    font-weight: bold;
}

.demo .infor{
    width: auto;
    height: auto;
    background-image: url("../images/who.jpg");
    object-fit: cover;
}

/* contact--------------------------------------------------------------- */

.contact-us{

    padding: 15px;
    padding-top: 30px; 
    /* height: auto;
    max-width:100%;  */
    text-align: center;
    width: 100%;
    background-color: #f5f5f5;
    
}

.contact-us .container{
    height: auto;
    text-align: center;
    width: auto;
}

.contact-us .icon{

    height: auto;
    align-items: center;
    justify-content: center;
}

.contact-us .icon i{
    font-size: 50px;
    padding: 10px;
    color: #000000;
}

.contact-us .icon i:hover{
    -webkit-transform: scale(1.4);
     transform: scale(1.4);
}


.contact-us .message{
    height: auto;
    width: auto;  
    margin-top: 50px;
    text-align: center;
}

.message .f1 input[type = "text"], input[type = "email"]{

    width: 400px;
    height: 50px;
    border-radius: 10px;
    padding: 10px;
    outline: none;
}

.f2{
    align-items: center;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;
    justify-content: center;
}

.message .f2 input[type = "text"]{
    margin-top: 20px;
    height: 300px;
    width: 955px;
    border-radius: 10px;
    outline: none;
    align-items: center;
    justify-content: center;
  
}


.message .f3 button[type = "submit"]{
    margin-top: 20px;
    border: 0;
    background: none;
    text-align: center;
    border: 2px solid #18dcff;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: #000000;
    border-radius: 24px;
    transition: 0.25s;
}

.message button[type = "submit"]:hover{
    width: 280px;
    border-color: #4cd137;
    font-weight: 500;
}

